@use './variables' as *;
@use './mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-primary;
  background-color: $background-default;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  @include custom-scrollbar();
}

// RTL/LTR base styles
[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

[dir='ltr'] {
  direction: ltr;
  text-align: left;
}

// Focus styles
:focus-visible {
  outline: 2px solid $primary-color;
  outline-offset: 2px;
}

// Selection styles
::selection {
  background-color: $primary-light;
  color: #fff;
}

